body{
    background-color: #4F5759;
    color: black;
    
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header{
    font-size: 80px;
    border: 4px solid #eee;
    width: 690px;
    display: flex;
    justify-content: center;
    color: #eee;
}

.btn {
    background-color:#48A7BF;
    color: black;
}
label{
    font-size: 20px;
}

.form-control{
    width:400px;
}